@model RoomSearchModel

@{
    ViewData["Title"] = "Home";

    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;
}

<!--Index Page-->
<div class="container-index">
    <div class="container-fluid form-index">
        <form class="needs-validation" method="post" asp-action="Index" novalidate>
            <div class="form-row">
                <div class="form-col col-md-6">
                    <select asp-for="City" class="custom-select custom-select-lg mb-3" asp-items="@(new SelectList(cities))" name="city" required>
                        <option value="">Select City</option>
                    </select>
                    <div class="invalid-feedback">The city field is required</div>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-col col-md-6">
                    <select asp-for="RoomType" class="custom-select custom-select-lg mb-3" asp-items="@(new SelectList(roomTypes, "Id", "RoomType1"))" name="roomType" required>
                        <option value="">Select Room Type</option>
                    </select>
                    <div class="invalid-feedback">The room type field is required</div>
                    <span asp-validation-for="RoomType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-col col-md-5">
                    <div class="form-group">
                        <label for="checkindate" class="col-form-label-lg">Check in date</label>
                        <input asp-for="CheckInDate" name="checkInDate" class="custom-select custom-select-lg mb-3" id="datepicker-in" required />
                        <div class="invalid-feedback">The CheckInDate field is required</div>
                        <span asp-validation-for="CheckInDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-col col-md-5">
                    <div class="form-group">
                        <label for="checkoutdate" class="col-form-label-lg">Check out date</label>
                        <input asp-for="CheckOutDate" name="checkOutDate" class="custom-select custom-select-lg mb-3" id="datepicker-out" required />
                        <div class="invalid-feedback">The CheckOutDate field is required</div>
                        <span asp-validation-for="CheckOutDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-col col-md-4">
                    <button type="submit" class="btn btn-warning btn-outline-dark btn-lg">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="~/lib/Javascript/Datepicker.js"></script>

<!--End of Index Page-->